@import "assets/styles/variables";

* {
  box-sizing: border-box;
}
html {
  font-family: $font-family-regular;
  background-color: $background-color;
  color: var(--basic-text-color);
  min-height: 100%;

  body, #__nuxt, #__layout, .page {
    min-height: 100vh;
    height: 1px;
  }

  body {
    margin: 0;

    .section-middle {
      min-height: 100%;
      display: flex;
      justify-content: center;
      align-content: center;
      align-items: center;

      .block-alone {
        height: auto;
        text-align: center;
        background-color: $white;
        max-width: $max-content;
        margin: auto;
        border-radius: $border-radius;
        padding: 24px;
      }
    }

    .section-top {
      display: flex;
      flex-wrap: wrap;
      justify-content: center;

      .block-twice {
        width: 100%;
        max-width: $max-content / 2;
        border-radius: $border-radius;
        background-color: $white;
        margin: 24px;
        padding: 24px;
      }
    }

    .header {
      display: flex;
      justify-content: space-around;
      align-items: center;
      font-family: monospace;
      background-color: $header-background-color;
      color: $background-color;

      p {
        text-align: right;
      }
    }

    form {
      text-align: left;

      .error {
        color: $red;
        font-size: 12px;
      }
    }

    table {
      width: 90%;
      margin-left: 5%;
      margin-right: 5%;
      margin-bottom: 20px;
      border-collapse: collapse;
      text-align: center;

      &, td, th {
        border: 2px solid $pressed-button-color;
      }
    }

    h2 {
      text-align: center;
      color: $pressed-button-color;
    }
  }
}
